 <footer>
        <div class="footer-grid">
            <div>
                <div class="foot-brand">VTRSTORE</div>
                <p>Streetwear Atitude — autenticidade e design limpo.</p>
                <div class="socials">
                     <a href="https://api.whatsapp.com/send?phone=5521983904738&text=S%C3%93+AGUARDAR+E+SER%C3%81+RESPONDIDO">WhatsApp</a>
                </div>
            </div>
            <div>
                <h4>Suporte</h4>
                <p><a href="#">Trocas e devoluções</a><br><a href="#">Envios e prazos</a><br><a href="{% url 'contato' %}">Contato</a></p>
            </div>
            <div class="newsletter">
                <h4>Assine o newsletter</h4>
                <p>Receba drops e cupons exclusivos.</p>
                <input type="email" placeholder="Seu e-mail" />
            </div>
        </div>
    </footer>